#__next { 
  @apply bg-white dark:bg-black;

  @screen md {
    width: 360px;
    height: 100vh;
    overflow-y: auto;

    @apply mx-auto bg-white;
  }
}

$headerHeight: 72px;
$footerHeight: 236px;
$footerMarginTop: 80px;

main {
  min-height: calc(100vh - $headerHeight - $footerHeight - $footerMarginTop);
}